rbody {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

.container {
  width:1170px;
  padding:0 15px;
  margin:0 auto;
}

.top-wrapper{
  padding:180px 0 100px 0;
  background-image:url(rbody {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

.container {
  width:1170px;
  padding:0 15px;
  margin:0 auto;
}

.top-wrapper{
  padding:180px 0 100px 0;
  background-image:url(https://photos.app.goo.gl/GYdjkWJL2TGZgLvg6);
  background-size: cover;
  color:white;
}

.btn-wrapper {
  margin:20px
}

.instagram{
  background-color:#ff00ff
}

.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  border-radius: 4px;
}

.lesson-wrapper {
  height: 500px;
  padding-bottom: 80px;
  background-color: #f7f7f7;
  text-align:center;
}

.heading {
  padding-top: 60px;
  padding-bottom: 30px;
  color: #5f5d60;
}

.lesson {
  float:left;
  width:25%;
}

.lesson-icon {
  position:relative;
}

.lesson-icon p {
  position:absolute;
  top:90px;
  width:100%;
  color:#ffffff;
 
})
  background-size: cover;
  color:white;
}

.btn-wrapper {
  margin:20px
}

.instagram{
  background-color:#ff00ff
}

.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  border-radius: 4px;
}

.lesson-wrapper {
  height: 500px;
  padding-bottom: 80px;
  background-color: #f7f7f7;
  text-align:center;
}

.heading {
  padding-top: 60px;
  padding-bottom: 30px;
  color: #5f5d60;
}

.lesson {
  float:left;
  width:25%;
}

.lesson-icon {
  position:relative;
}

.lesson-icon p {
  position:absolute;
  top:90px;
  width:100%;
  color:#ffffff;
 
}
