body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

.container {
  width:1170px;
  padding:0 15px;
  margin:0 auto;
}

.top-wrapper{
  padding:100px 0 100px 0;
  background-image:url(https://dm2305files.storage.live.com/y4mt6Vq6mdQPBiBf_DgpB8hC47qhRtyCAWCKkGr5aGnrY0hq9pTPgpLDCRcz0Kxh6yc76-xxGeeQ9F5eQ_UOPudQUbx6q3jpELMhnBko5wpIAGB4xCCvTSDCQfVzPuxoQqg4mWyLqLUuOa-uoT_5_1PJlptv3Wu5drdkwUble1vDQSarA-3DJG9rNVZ4oCO_GRM?width=480&height=640&cropmode=none);
  background-size: cover;
  color:white;
}
