rbody {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

.container {
  width:1170px;
  padding:0 15px;
  margin:0 auto;
}

.top-wrapper{
  padding:180px 0 100px 0;
  background-image:url(rbody {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

.container {
  width:1170px;
  padding:0 15px;
  margin:0 auto;
}

.top-wrapper{
  padding:180px 0 100px 0;
  background-image:url(https://lh3.googleusercontent.com/lPNcAq_G3nRkIkKHuc04Ojh8XeC_BgU8jogxjc0mof0N4h2JLxk2BG3SPhwzXLjwzDJKvNRrvXGyTU5JkwPSlacN_N-lP8Toeitfo23GPl3_wDPvDzZGXlZIJ31e-ZwRZzoMlW1Mcww81-J8ns97IrMghjvHpmx4aHKD0K3SYfgS42MvgHC4e2_p9YQqIoJ9uLkrMfV8wFgdqcdJgwvaX-BIQJmR8GDhptbcbnORSpbTRZQB-l2VNDp5dYmKp-R-lh2IJqVqZhvwtwtwNhXx-FYzO1eBNQ1FG4At8Ctt294UkS-_4mfspubJzyd4u-gi9DsW1pNDpbWyHHVlyThWJPdMhJ4NjR_r0vL1W47gmJJ7VhEU75Erz3FRUS0stsNuS-gcrh0TYwB2I8k20FSJJ3LvcxiVwI63aORMWeFcnht5hoSC7lbjEGRwI6RTt-JCWoi2XVHLen99qzilK4ltjSFQn3EWXdgV9vfhifOFwj8EziD3hZQyH8oFtlX_hNyLn_SvDnC0n1Fy7f8YmCv_D0_c8SutNNOWqSWmuwGDIIDxsAaRUsf2igSw_e5qHnqYswDPSkw5uWUKd9y1ORJ_Q69cePTJ7Y7uzQj3NjzPsUhCVNE9ARoCxJK5To1tJmfDmfc5w5c0Ao_97ckDIK58bWjrPURC533ZaU4tGLTXjIzwFEkFJ-wrneXpp8UPfsjEL7hQ808cjRFXT1dwGOLki0Y=w469-h625-no?authuser=0);
  background-size: cover;
  color:white;
}

.btn-wrapper {
  margin:20px
}

.instagram{
  background-color:#ff00ff
}

.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  border-radius: 4px;
}

.lesson-wrapper {
  height: 500px;
  padding-bottom: 80px;
  background-color: #f7f7f7;
  text-align:center;
}

.heading {
  padding-top: 60px;
  padding-bottom: 30px;
  color: #5f5d60;
}

.lesson {
  float:left;
  width:25%;
}

.lesson-icon {
  position:relative;
}

.lesson-icon p {
  position:absolute;
  top:90px;
  width:100%;
  color:#ffffff;
 
})
  background-size: cover;
  color:white;
}

.btn-wrapper {
  margin:20px
}

.instagram{
  background-color:#ff00ff
}

.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  border-radius: 4px;
}

.lesson-wrapper {
  height: 500px;
  padding-bottom: 80px;
  background-color: #f7f7f7;
  text-align:center;
}

.heading {
  padding-top: 60px;
  padding-bottom: 30px;
  color: #5f5d60;
}

.lesson {
  float:left;
  width:25%;
}

.lesson-icon {
  position:relative;
}

.lesson-icon p {
  position:absolute;
  top:90px;
  width:100%;
  color:#ffffff;
 
}
